<style>

body {
	background-image: url("pattern.png");
	font-family: helvetica,sans-serif;
}

nav {
	
background-color: #95484b;
	display: inline;
	text-align: center;
	
}

main {

}
dt {
	font-weight: bold;
}
#wrapper {
	margin-bottom: 33px;
	margin-top: 33px;
	padding: 33px;
	background-color: whitesmoke;
}
#frame {
background-image: url("cohort.png");
background-position: center;
background-repeat: no-repeat;
size: 470px;
height: 100%;
width: 100%;
}
</style>